<footer id="footer">
    <div class="container">
        <h3>{{information["name"]}}</h3>
        <div class="social-links">
            <a href="https://linkedin.com/in/linh-nguyen-hoang-8a3473188" target="_blank" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/alinh99" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        </div>

        <div class="credits">
            Designed by <a href="https://nhl-porfolio.onrender.com/">{{information["name"]}}</a>
        </div>
    </div>
</footer>