<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>{{information["name"]}}</h1>
        <p>I'm <span class="typed" data-typed-items="Data Analyst, Python Developer, AI Developer"></span></p>
        <div class="social-links">
            <a href="https://linkedin.com/in/linh-nguyen-hoang-8a3473188" target="_blank" class="linkedin"><i
                    class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/alinh99" target="_blank" class="github"><i class="bx bxl-github"></i></a>
        </div>
    </div>
</section>