<!DOCTYPE html>
<html lang="en">

<!-- ======= Head ======= -->

{% include "head.html" %}

<!-- End Head -->

<body>
  <!-- ======= Header ======= -->

  {% include "header.html" %}

  <!-- End Header -->

  <!-- ======= Hero Section ======= -->

  {% include "hero.html" %}

  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    {% include "about.html" %}
    <!-- End About Section -->

    <!-- ======= Resume Section ======= -->

    {% include "resume.html" %}

    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->

    {% include "portfolio.html" %}

    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->

    {% include "contact.html" %}

    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->

  {% include "footer.html" %}

  <!-- End Footer -->

  <!-- ======= JS Files ======= -->

  {% include "js.html" %}

  <!-- End JS Files -->

</body>

</html>