<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row">

            <div>
                <div class="portfolio-info">
                    <h3>Project information</h3>

                    <ul>
                        <li><strong>Category</strong>: {{details["type"]}}</li>
                        <li><strong>Language</strong>: {{details["language"]}}</li>
                        <li><strong>Development Platform</strong></li>
                        {% for platform in details["platform_developments"] %}
                        <ul style="list-style-type: disc; margin-left: 20px;">

                            <li>{{ platform }}</li>

                        </ul>
                        {% endfor %}
                        <li><strong>Libraries</strong>:
                            {% for library in details["libraries"] %}
                            <ul style="list-style-type: disc; margin-left: 20px;">

                                <li>{{ library }}</li>

                            </ul>
                            {% endfor %}
                        <li><strong>Contributions</strong>:
                            {% for detail in details["details"] %}
                            <ul style="list-style-type: disc; margin-left: 20px;">

                                <li>{{ detail }}</li>

                            </ul>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                {% if "images" in details %}
                <div class="portfolio-description">
                    <h2>Showcases</h2>
                    {% for image in details["images"] %}
                    {% if "mp4" in image['info'] %}
                    <video width="320" height="240" controls class="center">
                        <source src="{{ image['info'] }}" type="video/mp4">
                    </video>
                    {% else %}
                    <img src="{{ image['info'] }}" alt="" class="center">
                    {% endif %}
                    <p style="text-align: center; font-size: smaller;"><em>{{ image["description"] }}</em></p>
                    {% endfor %}
                    <br>
                </div>
                {% endif %}
            </div>

        </div>

    </div>
</section>